:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --font-color: #808080;
  --font-color-bold: #0f0f0f;
  --accent-color: #396afc;
  --accent-color-1: #668bf9;
  --accent-color-2: #92acf6;
  --accent-color-3: #bfccf3;
  --accent-color-4: #ebedf0;
  --base-color-1: #fff;
  --base-color-2: #f6f6f6;
  --base-color-3: #e5e5e5;
}

.dark {
  --font-color: #808080;
  --font-color-bold: #cfcfcf;
  --accent-color: #396afc;
  --accent-color-1: #3359c8;
  --accent-color-2: #2d4995;
  --accent-color-3: #273861;
  --accent-color-4: #21272d;
  --base-color-1: #1f1f1f;
  --base-color-2: #181818;
  --base-color-3: #2b2b2b;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}